@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
	* 
    {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat', sans-serif;

	}
    .vid1{
		width: 100%; 
		display: block;
	}
	.vid{
		width: 100%;
		display: none;
	}
	body{
        
		background-size: 100vw 100vh;
		background-repeat: no-repeat;
		color: #404040;
        font-family: 'Montserrat', sans-serif;
		

	}
	



	/*perfil/inicio*/
   
	.header{
		width: 100%;
		height: 100px;
		position: fixed;
		top: 0;left: 0;
		
	}
	.container{
		width: 90%;
		max-width: 1200px;
		margin: auto;
		z-index: 5000;
	}

    .log{

        width: 35%;
        
        justify-content: center;
        
    }
	.container .btn-menu, .logo{
    
		float: left;
		line-height:100px;
	}
	.container .btn-menu label{
		color: rgb(221, 208, 208);
		font-size: 25px;
		cursor: pointer;
		z-index: 5000;
	}
	.container .btn-menu label:hover{
		color:#ff5555;
		z-index: 5000;
	}
	.logo h1{
		color: #fff;
		font-weight: 400;
		font-size: 25px;
		margin-left: 10px;
        font-family: 'Montserrat', sans-serif;
	}
	.container .menu{
		float: right;
		line-height: 100px;
		z-index: 5000;
		cursor: pointer;
		color: white;

	}

	.container .menu:hover{
	 color: #ff5555;

	}
	.container .menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: rgb(255, 255, 255);
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 20px;
		margin-right: 5px;
	}
	.container .menu a:hover{
		border-bottom: 3px solid #ff5555;
		padding-bottom: 5px;
	}
	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
		z-index: 5000;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #1c1c1c;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		text-align: center;
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #ff5555;
		background: #353535;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
	/*Fin de Menù lateral*/

/*perfil/inicio*/







/* quien soy */

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#ff5555, transparent);
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background: linear-gradient(45deg, #ff55559d, #fc9f6186);
    border-radius: 0 0 20px 20px;
}




.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 230px;
    height: 240px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.486);
    position: absolute;
    bottom: -40px;
    left: calc(50% -  100px);

    
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 125%;
    position: relative;
    border-radius: 10%;
	
}


.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 3rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
	z-index: -1;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}



.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}


.bottoncv{
	display: flex;
	
	justify-content: center;
	text-align: center;
	margin: 20px;
    margin-top: 5px;
	
	
	 
 }
 
 .cvdowland{
	 display: flex;
	 background-color: #ff5555;
	 text-align: center;
	 justify-content: center;
	 border-radius: 50px;
	 font-size: 1.5em;
	 padding: 1rem 3rem;
	 color: #ffffff;
	 font-family: 'Montserrat', sans-serif;
	 border: none;
	 cursor: pointer; 
	 text-decoration: none;
	 
 }
 
 .cvdowland:hover{
	 background-color: #ffb1b1;
	 color: #ffffff;
	 text-decoration: none;
 }





.seccion-perfil-usuario .redes-sociales {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

.seccion-perfil-usuario .redes-sociales .boton-redes {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
}

.seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
    margin-top: .5rem;
}

.seccion-perfil-usuario .boton-redes.facebook {
    background-color: #ff5555;
}

.seccion-perfil-usuario .boton-redes.facebook:hover{
    background-color: #ffb1b1;
    color: #ffffff;
    text-decoration: none;
}


.seccion-perfil-usuario .boton-redes.twitter {
    background-color: #ff5555;
}

.seccion-perfil-usuario .boton-redes.twitter:hover{
    background-color: #ffb1b1;
    color: #ffffff;
    text-decoration: none;
}
.seccion-perfil-usuario .boton-redes.instagram {
    background-color: #ff5555;
}
.seccion-perfil-usuario .boton-redes.instagram:hover{
    background-color: #ffb1b1;
    color: #ffffff;
    text-decoration: none;
}
/* adactacion a dispositivos */






@media (max-width: 750px){
 
	.vid1{
		width: 100%; 
		display: none;
	}
	.vid{
		width: 100%;
		display: block;
	}
    

    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
}

.mensaje a {
    color: inherit;
    margin-right: .5rem;
    display: inline-block;
}
.mensaje a:hover {
    color: #309B76;
    transform: scale(1.4)
}
/* quien soy */




/* Habilidades */


/* ------------------habilidades blandas------------------------*/

.habildletrero h1{
	display: flex;
	background-color: #ff5555;
	text-align: center;
	justify-content: center;
	border-radius: 50px;
	font-size: 1.5em;
	padding: 1rem 3rem;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	border: none;
	text-decoration: none;
 }
 
 .skills{
	
	width:500px;
	margin: 7%;
	color: #404040;
	align-items: center;
	
 }
 
 .skills li{
	margin: 20px 0;
	display: flex;
	
	
 }
 
 .skills li img{
  margin-right: 15px;
  justify-content: center;
  
 }
 
 
 .bar{
	background: #c9bdbd;
	display:block;
	width: 400px;
	height: 50px;
	border: none;
	border-radius: 50px;
	overflow: hidden;
	
 
 }
 
 .bar span{
	height: 50px;
	float:left;
	background: linear-gradient(#fff3f3, transparent) ;
	border-radius: 50px;
	
 
 }
 
 .creatividad{
	width: 90%;
	animation: crea 10s;
 }
 
 .equipo{
	width: 90%;
	animation: equi 10s;
 }
 
 .innovacion{
	width: 95%;
	animation: inno 10s;
 }
 
 .liderazgo{
	width: 90%;
	animation: lide 10s;
 }
 
 .productividad{
	width: 80%;
	animation: produ 10s;
 }
 
 .fluidez{
	width: 75%;
	animation: flu 10s;
 }
 
 @keyframes crea {
	0%{
		width: 0%;
	}
	100%{
		width: 90%;
	}
 }
 
 @keyframes equi {
	0%{
		width: 0%;
	}
	100%{
		width: 80%;
	}
 }
 
 @keyframes inno {
	0%{
		width: 0%;
	}
	100%{
		width: 90%;
	}
 }
 
 @keyframes lide {
	0%{
		width: 0%;
	}
	100%{
		width: 85%;
	}
 }
 @keyframes produ {
	0%{
		width: 0%;
	}
	100%{
		width: 82%;
	}
 }
 
 @keyframes flu {
	0%{
		width: 0%;
	}
	100%{
		width: 75%;
	}
 }
 
 /**/
 .iconos1{
	max-width:6% ;
 }
 
 .skills li{
	margin-bottom:10px;
 }
 
 .skills h3  {
	 margin-bottom:10px;
 }
 /*----------------------- HABILIDADES TECNICAS ----------------------*/
 .ilustrador{
	width: 86%;
	animation: ilus 10s;
 }
 
 .premier{
	width: 90%;
	animation: prem 10s;
 }
 
 .photo{
	width: 80%;
	animation: photo 10s;
 }
 
 .html{
	width: 72%;
	animation: html 10s;
 }
 
 .css{
	width:72%;
	animation: css 10s;
 }
 
 
 @keyframes ilus {
	0%{
		width: 0%;
	}
	100%{
		width: 86%;
	}
 }
 
 @keyframes prem {
	0%{
		width: 0%;
	}
	100%{
		width: 90%;
	}
 }
 
 @keyframes photo {
	0%{
		width: 0%;
	}
	100%{
		width: 80%;
	}
 }
 
 @keyframes html {
	0%{
		width: 0%;
	}
	100%{
		width: 72%;
	}
 }
 @keyframes css {
	0%{
		width: 0%;
	}
	100%{
		width: 72%;
	}
 }
 
 @keyframes off {
	0%{
		width: 0%;
	}
	100%{
		width: 90%;
	}
 }
 
 /* Habilidades */


  /* trabajos */
 
.wrap{
	max-width: 1100px;
	width: 90%;
	margin: auto;
}

.h2{
	color: #727272;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 30%;
	font-family: 'Montserrat', sans-serif;
}

.h2:after{
	content: '';
	width: 100%;
	height: 1px;
	margin: 20px 0;
}

.store-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px 0;
	margin-bottom: 20px;
	background: #ff5555;
	border-radius: 50px;
	text-align: center;
	text-decoration: none;
	color:#ffffff;
	cursor: pointer;
}

.category_list .category_item:hover{
	background: #ffffff;
	color: #ff5555;
}

.category_list .ct_item-active{
	background: #ffffff;
	color: #ff5555;
}

/* PRODUCTOS ============*/

.products-list{
	width: 82%;
	display: flex;
	flex-wrap: wrap;
}


.products-list .product-item{
	width: 22%;
	margin-left: 3%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);

	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

	transition: all .4s;
}
.products-list .product-item1{
	width: 47%;
	margin-left: 3%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 0px rgba(75, 75, 75, 0.22);

	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

	transition: all .4s;
}


.products-list .product-item img{
	width: 100%;
}

.products-list .product-item a{
	display: block;
	width: 100%;
	padding: 8px 0;
	background: rgba(255, 255, 255, 0.815);

	color: rgb(92, 92, 92);
	text-align: center;
	text-decoration: none;
}



.secciones{
	width: 100%;
	background: rgb(0, 0, 0);
}

.secciones article{
	padding: 30px;
}

.fm-video {
	width: 100%;
	box-shadow: 0px 0px 6px 0px rgba(145, 23, 23, 0.5);
}

.fm-video .vjs-control-bar {
	background: #000000;
	color:#DB0E1D;
}

.fm-video .vjs-play-progress,
.fm-video .vjs-volume-level {
	background: #DB0E1D;
}

.fm-video .vjs-slider {
    background: #DB0E1D;
    text-align: center;
}

.video-js:hover .vjs-big-play-button {
	background: rgba(0,0,0,.2);
}

.fm-video .vjs-big-play-button {
	background: rgba(0,0,0,.2);
	width: 250px;
	height: 250px;
	line-height: 80px;
	border-radius: 100%;
	border:none;
}

.fm-video .vjs-big-play-button:hover {
	background: rgba(0,0,0,.5);
}



@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 20px;
	}
}

/* RESPONSIVE */

@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width: 47.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}

  /* trabajos */

  /* contacto */

  .container2{
	  position: absolute;
	  width: 50%;
	  left: 50%;
	  padding: 90px;  
  }
  .container3{
	
	position: absolute;
	left: 20%;
	margin-top: 5%;
	padding: 2rem 3rem;
    justify-content: center;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 25px;
    width: 30%;
	color: #8a8a8a;
	cursor: pointer;
  }

  .container3:hover{
    background-color: #ff5555;
	color: #fff;
 }

.text{
	 
	 font-size: 150%;
	 font-family: 'Montserrat', sans-serif;
	 cursor: pointer;
	 
	
}

.container3 .text .a .p{
	font-size: 15%;
}

@media (max-width: 800px){
 
	.container2{
		margin-top: 30% ;
		padding: 30%;
        left: -25%;
		width: 150%;
		height: 100%;
	}
    
	.container3{
		width: 70%;
		margin-top: 15%;
		left: 15%;
	}
}

